@model List<Blog.Models.Post>

@{
    ViewBag.Title = "Index";
}

<h2>Welcome to my blog!</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
            <div class="post-preview">
                <h2>Most recent post</h2>
                @Html.Partial("PostDetails", Model.Last())
                @Html.ActionLink("Go ahead and create a post!", "Create", null, new { @class = "btn btn-default" })
                @Html.ActionLink("Go ahead and see a list of posts!", "List", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
</div>