@model IEnumerable<Blog.Models.Post>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default" })
</p>
<div class="container">
    @foreach (var post in Model)
    {
        @Html.Partial("PostDetails", post)
        <br />
        <br />
    }
</div>